In [8]:
# This chunk of code make it possible to use src functions
import sys
import os
module_path = os.path.abspath(os.path.join('../src'))

if module_path not in sys.path:
    sys.path.append(module_path)
    
from DSProject import DSProject
from preprocess import *

dsp = DSProject()

In [9]:
raw_db_soc = dsp.read_data('DB_SOC')

/Users/jah/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [10]:
raw_db_soc.head()

,Month,FileDate,PortFolio,ProductName,OSPRINCIPLE,OSAMT,BILLCycle,Group,Range_day,Card Type New,New_Handle,HASH_LPM_CST_ID,HASH_AR_ID
0,201510,20151007,2,Card,0.03,0.03,17,1. Selfcured,2) 1-30,CLASSIC,INH,-8592574521115328978,2992378591959938108
1,201510,20151007,2,Card,99129.22,100804.75,17,3. Action - Save,2) 1-30,CLASSIC,INH,1938015529308416590,-5086591535661867418
2,201510,20151007,2,Card,146593.17,146593.17,17,1. Selfcured,2) 1-30,CLASSIC,INH,1241489026333454768,-389919671788712216
3,201510,20151007,2,Card,67656.51,67656.51,17,3. Action - Save,2) 1-30,CLASSIC,INH,-3367137367668657800,8810541145679989509
4,201510,20151007,2,Card,49970.00,49970.00,17,3. Action - Save,2) 1-30,CLASSIC,INH,-7320427568045644183,408072121760122008

In [11]:
db_soc = dsp.read_table('DB_SOC', 'preprocess', index_col=0, dtype={'HASH_IP_ID':str,'HASH_AR_ID':str} )

/Users/jah/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/jah/anaconda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

# Group and Range_Day Statistics

In [19]:
group_count = db_soc['Group'].value_counts().to_frame().reset_index()
group_count.columns = ['group_label', 'count']
group_count['percentage'] = group_count['count']/group_count['count'].sum()

In [20]:
group_count

   group_label   count  percentage
0            3  559098    0.462300
1            1  513932    0.424954
2            5  118606    0.098071
3            4   12676    0.010481
4            2    5071    0.004193

In [21]:
rd_count = db_soc['Range_day'].value_counts().to_frame().reset_index()
rd_count.columns = ['range_day_label', 'count']
rd_count['percentage'] = rd_count['count']/rd_count['count'].sum()

In [22]:
rd_count

   range_day_label    count  percentage
0                1  1077876    0.891261
1                2    85888    0.071018
2                3    45619    0.037721