In [1]:
# This chunk of code make it possible to use src functions
import sys
import os
module_path = os.path.abspath(os.path.join('../src'))

if module_path not in sys.path:
    sys.path.append(module_path)
import warnings
warnings.filterwarnings('ignore')

from DSProject import DSProject
from preprocess import *

dsp = DSProject()

In [2]:
db_soc = dsp.read_data('DB_SOC')

In [3]:
chunks = []
for i in range(0, 55):
    chunk = dsp.read_table('SOR_TXN_CC_filtered_' + str(i), 'preprocess', index_col=0)
    chunks.append(chunk)
df = pd.concat(chunks)

In [4]:
df.head()

      HASH_IP_ID           HASH_AR_ID  TXN_CODE  TXN_VAL_DT  NET_CASH_FLOW_AMT
2   8.193164e+18  5251357515355065947      20.0  2015-02-20           50226.72
3   8.400234e+18  6609937234984855640      20.0  2015-02-12           15300.00
4   9.003813e+18  4781614506735449952      20.0  2015-02-16            5000.00
12 -3.745464e+18 -1966564067668799184      20.0  2015-02-02             977.00
20  5.000254e+18  6127627837799209610      20.0  2015-02-20            2000.00

In [5]:
# find the best filedate for each payment
df['TXN_VAL_DT'] = parse_dates(df['TXN_VAL_DT'])
print("Max-Min TXN_VAL_DT")
print(df['TXN_VAL_DT'].max())
print(df['TXN_VAL_DT'].min())

Max-Min TXN_VAL_DT
2016-12-31 00:00:00
2015-02-01 00:00:00

In [6]:
unique_filedate = dsp.read_table('unique_filedate', 'feature', index_col=0, parse_dates=['FileDate', 'Next_FileDate', 'Previous_FileDate'])
df = df.merge(unique_filedate, on=['HASH_AR_ID'])
df0 = df.copy()
df = df.loc[((df['TXN_VAL_DT'] >= df['FileDate']) & (df['TXN_VAL_DT'] < df['Next_FileDate'])) | ((df['TXN_VAL_DT'] >= df['FileDate']) & (df['Next_FileDate'].isnull())) ]

print("Max-Min FileDate after merging")
print(df['FileDate'].min())
print(df['FileDate'].max())

Max-Min FileDate after merging
2016-05-04 00:00:00
2016-09-29 00:00:00

In [7]:
df.head()

,HASH_IP_ID,HASH_AR_ID,TXN_CODE,TXN_VAL_DT,NET_CASH_FLOW_AMT,FileDate,Previous_FileDate,Next_FileDate
2,-3.745464e+18,-1966564067668799184,20.0,2016-12-06,1497.0,2016-09-07,2016-08-05,NaT
3,-3.745464e+18,-1966564067668799184,20.0,2016-11-02,1497.0,2016-09-07,2016-08-05,NaT
21,-3.745464e+18,-1966564067668799184,20.0,2016-09-07,1480.0,2016-09-07,2016-08-05,NaT
22,-3.745464e+18,-1966564067668799184,20.0,2016-10-03,1450.0,2016-09-07,2016-08-05,NaT
31,5.000254e+18,6127627837799209610,20.0,2016-05-27,2000.0,2016-05-23,NaT,2016-06-22

In [8]:
df.head()

,HASH_IP_ID,HASH_AR_ID,TXN_CODE,TXN_VAL_DT,NET_CASH_FLOW_AMT,FileDate,Previous_FileDate,Next_FileDate
2,-3.745464e+18,-1966564067668799184,20.0,2016-12-06,1497.0,2016-09-07,2016-08-05,NaT
3,-3.745464e+18,-1966564067668799184,20.0,2016-11-02,1497.0,2016-09-07,2016-08-05,NaT
21,-3.745464e+18,-1966564067668799184,20.0,2016-09-07,1480.0,2016-09-07,2016-08-05,NaT
22,-3.745464e+18,-1966564067668799184,20.0,2016-10-03,1450.0,2016-09-07,2016-08-05,NaT
31,5.000254e+18,6127627837799209610,20.0,2016-05-27,2000.0,2016-05-23,NaT,2016-06-22